<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Using Sessions in Express apps</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        var firstName, lastName, email, comments;
        $.get("http://localhost:3000/login", function (data) {
            firstName = data;
        });

		
        $("#submit1").click(function () {
            firstName = $("#firstName").val();
            lastName = $("#lastName").val();
            email = $("#email").val();
            comments = $("#comments").val();

    $.post("http://localhost:3000/feedbackLogin", { firstName: firstName, lastName: lastName, email: email, comments: comments }, function (data) {
                if (data == 'Thank You for your feedback') {
                    window.location.href = "/feedback";
                }
           });
        });
    });

    
    </script>
</head>
<body>
 


  
<!----------------------------------------Wtypeth---------------------------------------------------------------------------------------->

    <div style="width: 600px; height: 740px; background-color: #AAAADF; color: black; padding-top: 1em; float: left">
	<h1 >Feedback Form</h1>
        <Table type="Table1" height="400">
		 
            <tr Height="36px">
                <td width="140px">First Name:		</td>
				 <td width="140px"></td>
                <td width="460px">
                    <input type="text" width="200px">
                </td>
            </tr>
            <tr Height="36px">
                <td width="140px">Last Name:		</td>
                 <td width="140px"></td>
				<td width="460px"><input type="text" width="200px"></td>

            </tr>
            <tr Height="36px">
                <td width="140px">Email:			</td>
				 <td width="140px"></td>
                <td width="460px">
                        <input type="text" value=<%= username%> width="200px">
                </td>

            </tr>
            <tr Height="36px">
                <td width="140px">Education:		</td>
				 <td width="140px"></td>
                <td width="460px"><input type="text" width="200px"></td>
                
            </tr>

			  <tr Height="36px">
                <td width="140px">Skills:			</td>
				 <td width="140px"></td>
                <td width="460px"><input type="text" width="200px"></td>
                
           

			<tr Height="36px">
                <td width="140px">Gender:			</td>
				 <td width="140px"></td>
                <td width="460px"></br><input type="radio" name="sex" value="male">male</br><input type="radio" name="sex" value="female">female</td>
                <td width="460px"></td>
            </tr>
            <tr Height="36px">
                <td width="140px">Vehical:		</td>
				 <td width="140px"></td>
                <td width="460px"></br><input type="checkbox" name="vehicle" value="Bike">I have a bike</br><input type="checkbox" name="vehicle" value="Car">I have a car</td>
                <td width="460px"></td>
            </tr>

             </tr>
			 <tr Height="36px">
                <td width="140px">Comments:		</td>
				 <td width="140px">  </td>
                <td width="460px"><textarea name="comments" rows="15" cols="50"></textarea><br><br></td>
                
            </tr>
			
        </Table>
   <div style="width: 580px; height: 33px; background-color: ActiveBorder; text-align: center; vertical-align: bottom">
	
                <input id="submit1" type="button" value="submit"  Width="80" />
                
           
</div>
        </div>
</body>
</html>